body {
	width: 750px;
	margin: 0;
	padding: 10px;
}

p {
	font-family: "serif";
	font-size: 1.1rem;
}

table {
	border-collapse: collapse;
}

tr th {
	padding: 5px;
	text-align: left;
}

tr td input {
	width: 100%;
}

.gitlab-project {
	width: 50%;
}

.local-path {
	width: 25%;
}

.project-name {
	width: 25%;
}

#add-project {
	margin-top: 5px;
	margin-left: 5px;
}

#editor-label, #save-preferences {
	margin-top: 30px;
}

#saved {
	display: none;
	margin-top: 10px;
}

.project-row td {
	padding: 4px 3px;
}

.project-row td input {
	margin-left: 2px
}

.highlight-row {
	background-color: yellowgreen;
}
